<div class="simple-calendar bg-transparent" style="max-width: 100%">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '<<前月'), calendar.url_for_previous_view, class: "previous-month-btn" %>
    <span class="calendar-title h4"><%= start_date.year %>年 <%= t('date.month_names')[start_date.month] %></span>
    <%= link_to t('simple_calendar.next', default: '次月>>'), calendar.url_for_next_view, class: "next-month-btn" %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr class="calendar-table">
        <% date_range.slice(0, 7).each do |day| %>
          <th class="calendar-table"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
